# AI Agent & OpenSpec Workflows
.agent/
.openspec/
openspec/

# Environment Variables & Secrets
.env
.env.local
backend/.env
frontend/.env

# Node Dependencies & Builds
node_modules/
dist/
build/

# MD files
PROJECT_DOCUMENTATION.md